@import "tailwindcss";

@keyframes star {
    0% { 
        opacity: 0;
        transform: scale(0) rotate(-180deg) 
    }
    100% { 
        opacity: 1;  
        transform: scale(1) rotate(0deg) 
    }   
}

/* .star {
    animation: star 0.3s ease-out forwards;
}

.star-delay {
    animation: star 0.3s ease-out forwards 1s;
} */